*{
    background-color: rgb(241, 186, 160);
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;   
}

h1{
    margin-bottom: 25px;
    margin-top: 5px;
    text-align: center;
}

.recipe-container{
    display: flex;
    gap: 15px;
    justify-content: center;
}

.recipe-link {
    background-color: rgb(243, 110, 101);
    border: 1px solid rgb(243, 110, 101);
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    text-align: center; 
    width: 250px;
}

.recipe-layout {
    display: flex;
    justify-content: center;  
    align-items: center;       
    gap: 40px;                 
    margin-top: 30px;
}

.img {
    height: 600px;
    max-width: 100%;
}

.recipe-text {
    max-width: 500px;
}

.home {
    position: fixed;
    bottom: 20px;
    left: 50%; 
    width: 100px; 
}
